* {
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.dashboard {
    width: 100%;
    background: linear-gradient(45deg, #c86dda 0%, #3224ae 100%);
}

.header {
    display: block;
    padding-top: 2px;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    overflow: hidden;
    z-index: 10;

}

.sticky {
    position: fixed;
    top: 0;
    box-shadow: 0px 10px 15px #00000037;
    background: linear-gradient(45deg, #c86dda 0%, #3224ae 100%);
    width: 100%;
    transition: all 0.5s ease;
    animation: smoothScroll 1s forwards;
}

.Open {
    height: 100%;
    background: linear-gradient(45deg, #c86ddaab 0%, #3224aeab 100%);
}

.Open .checkProperty {
    position: fixed;
    z-index: 50;
}

.sticky .search form {
    display: none;
}


@keyframes smoothScroll {
    0% {
        transform: translateY(-142px);
    }

    100% {
        transform: translateY(0px);
    }
}

.navitems {
    display: none;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    width: 250px;
    top: 0;
    z-index: 10;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(45deg, #c86dda 0%, #3224ae 100%);
}

.sidebarMenuInner {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li span {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

input[class=openSidebarMenu]:checked~#sidebarMenu {
    transform: translateX(0);
}

input[class=openSidebarMenu] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 15px;
    right: 15px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    background-color: white;
    border-radius: 4px;
    z-index: 99;
}


.spinner.part-1 {
    width: 80%;
}

.spinner.part-3 {
    width: 60%;
}

.spinner.part-2 {
    width: 100%;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
}


.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: right;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: right;
    margin-top: 3px;
}

input[class="openSidebarMenu"]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;

}

input[class="openSidebarMenu"]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    width: 100%;
}

input[class="openSidebarMenu"]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    width: 100%;
}

.header .brandName h2 {
    padding: 15px 5px 5px 15px;
    color: white;
}

.search {
    text-align: center;
}

.search form {
    width: 90%;
    margin: auto;
}

.search form input {
    font-size: 15px;
    width: 80%;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: rgb(140, 138, 138);
    margin: 20px 0 10px 0;
}

.search form button {
    width: 10%;
    background: white;
    border: none;
    border-left: 1px solid #3224ae;
    outline: none;
    font-size: 14px;
    padding: 10px 0;
}

.carousel {
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.carousel p {
    font-size: 1.0em;
    color: white;
    margin: 20px 0;
}

.carousel h1 {
    font-size: 2.5em;
    color: white;
}

.carousel button {
    padding: 10px 30px 10px 30px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #fec304;
    margin: 20px 0;
    outline: none;
    color: white;
    background-color: transparent;
}

.carousel button:hover {
    background: #fec40471;
}


.carousel .product {
    width: 100%;

}

.carousel .product .product {
    width: 100%;
    margin-top: -50px;
}

.carousel .product .previous {
    width: 30px;
}

.carousel .product .next {
    width: 30px;
    position: absolute;
    right: 15px;
}

.services {
    background-color: #fdf2ff;
    padding: 30px 0 30px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.ServicesItems {
    margin-top: 5px;
    padding: 15px 0;
    display: flex;
}

.ServicesItems .img {
    width: 20%;
}

.ServicesItems .img img {
    width: 80px;
    padding: 5px;
}

.ServicesItems .description {
    width: 60%;
}


.ServicesItems .description h2 {
    padding-bottom: 5px;
}

.ServicesItems .description p {
    color: #989898;
}

.Category {
    text-align: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

.Category .CategoryHeader h3 {
    font-size: 12px;
    padding: 20px;
}

.Category .CategoryHeader h2 {
    font-size: 30px;
    padding: 1px 10px 15px 10px;
}

.Category .CategoryHeader p {

    color: #989898;
}

.Category .CategoryItem {

    display: flex;
    flex-direction: column;
}

.Category .CategoryItem .item {
    margin-top: 50px;
    padding-bottom: 30px;
}


.Category .CategoryItem .item .img img {
    width: 100px;
    padding: 20px 0 10px 0;
}


.Category .CategoryItem .item p {
    color: #989898;
    font-size: 18px;
    padding: 4px;

}

.Category .CategoryItem .item p a {
    text-decoration: none;
    color: #989898;
}

.Category .CategoryItem .item h4 {
    font-size: 18px;
}

.Category .CategoryItem .item h4 a {
    color: #9000ad;
    text-decoration: none;
}

.Category .CategoryItem .item p a:hover {
    color: black;
}

.overview {
    background-color: #fdf2ff;
    padding-bottom: 100px;
}

.overview h4 {
    text-align: center;
    padding: 45px 0 10px 0;
}

.overview h1 {
    text-align: center;
    padding: 20px;
}

.overview .item-con {
    display: flex;
    flex-direction: column;
}

.overview .item {
    width: 90%;
    background-color: white;
    margin: 30px auto;
    padding: 25px 25px 0 25px;
    box-shadow: 4px 10px 30px #d086df52;

}

.overview .first {
    position: relative;
    height: 500px;
}

.overview .first h2 {
    font-size: 30px;
}

.overview .first p {
    font-size: 20px;
    color: #aaaaaa;
}

.overview .first button {
    background-color: transparent;
    border: 2px solid #c86dda;
    padding: 10px 30px;
    margin: 30px 0 0 0;
    font-size: 18px;
    border-radius: 50px;

}

.overview .first .firstImg {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.overview .three .first .first {
    height: 250px;
    position: relative;
}

.overview .three .first .first p {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;
}

.overview .three .first .first h2 {
    width: 60%;
    font-size: 30px;
}

.overview .three .first .first img {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.overview .three .first {
    position: relative;
    height: auto;
}

.overview .three .first .second {
    position: relative;
    height: 200px;
}

.overview .three .first .second h2 {
    font-size: 30px;
    width: 10%;

}

.overview .three .first .second p {
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0;

}

.overview .three .first .second img {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.overview .three .second1 {
    position: relative;
    height: 400px;
}

.overview .three .second1 h2 {
    font-size: 30px;
}

.overview .three .second1 p {
    font-size: 18px;
    color: #aaaaaa;

}

.overview .three .second1 button {
    background-color: transparent;
    border: 2px solid #c86dda;
    padding: 10px 30px;
    margin: 30px 0 0 0;
    font-size: 18px;
    border-radius: 50px;
}

.overview .three .second1 img {
    width: 90%;
    position: absolute;
    bottom: 35px;
    right: 0;
}

.productTypes {
    background-color: white;
    padding: 50px 10px 20px 20px;
    margin-bottom: 20px;
}

.productTypes .ProductHeaderContainer .productContainerTitle {
    width: 100%;
}

.productTypes .ProductHeaderContainer .productContainerTitle h1 {
    font-size: 40px;
}

.productTypes .ProductHeaderContainer .ProductCategory ul {
    display: flex;
    overflow: scroll;
    padding: 15px;
    margin-left: 0;
}

.productTypes .ProductHeaderContainer .ProductCategory ul::-webkit-scrollbar {
    display: none;
}

.productTypes .ProductHeaderContainer .ProductCategory ul li {
    list-style-type: none;
}

.productTypes .ProductHeaderContainer .ProductCategory ul li a {
    text-decoration: none;
    padding: 10px;
    color: #989898;
    font-size: 16px;
    text-transform: capitalize;

}

.ProductContainer {
    display: flex;
    width: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 20px;
    padding: 20px 0 50px 10px;
}

.ProductComponentContainer {
    width: auto;
    height: 350px;
    background-color: white;
    padding: 15px;
    position: relative;
    box-shadow: 0px 10px 20px #cbcbcbf7;
}

.ProductContainer::-webkit-scrollbar {
    display: none;
}

.ProductComponentContainer .containerImg {
    width: 200px;
    text-align: center;

}

.ProductComponentContainer .containerImg img {
    width: 150px;
    padding-top: 15px;
}

.ProductComponentContainer h2 {
    font-size: 23px;
    padding: 2px 0 2px 10px;
}

.ProductContainer .ProductComponentContainer p {
    font-weight: 700;
    padding: 10px 0 2px 10px;
}

.ProductComponentContainer .cart {
    width: 30px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}


.Discount {
    width: 100%;
    background-color: #fdf2ff;
}

.DiscountHeader {
    width: 100%;
}

.DiscountHeader .DiscountHeaderTitle h2 {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.DiscountHeader .DiscountHeaderTimer h2 {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.Discount .DiscountBody {
    display: flex;
    flex-direction: column;
}

.DiscountBody .ProductCategory {
    width: 100%;
}

.DiscountBody .ProductCategory .Container {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    box-shadow: 2px 10px 30px #d1cfcfbe;
    background-color: white;
    padding: 40px;
}

.DiscountBody .ProductCategory .Container h2 {
    padding: 10px;
    font-size: 25px;
}

.DiscountBody .ProductCategory .Container p {
    padding: 10px;
    font-size: 18px;
    text-transform: capitalize;
    color: #989898;
}

.DiscountBody .ProductImg {
    width: 100%;
    margin: 40px 0 20px 0;
    text-align: center;
}

.DiscountBody .ProductImg img {
    width: 40%;
    margin: auto;
    padding: 30px 0 20px 0;
}

.DiscountBody .ProductDescription {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.DiscountBody .ProductDescription h3 {
    font-size: 25px;
    text-align: center;
}

.DiscountBody .ProductDescription .price {
    font-size: 15px;
    font-weight: 700;
    padding: 20px 0 0 0;
    color: #9000ad;
}

.DiscountBody .ProductDescription .description {
    font-size: 15px;
    color: #989898;
    line-height: 25px;
    padding: 20px 0 30px 0;
    word-spacing: 3px;
}

.DiscountBody .ProductDescription div {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}

.DiscountBody .ProductDescription input {
    width: 100%;
    height: 40px;
}

.DiscountBody .ProductDescription button {
    border: none;
    background-color: #9000ad;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 15px;
}

.More {
    background-color: #fff;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}

.More h4 {
    padding: 20px 0 0 30px;
}

.More h1 {
    padding: 10px 0 20px 30px;
    font-size: 40px;
}

.MoreCard {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MoreCard .Card {
    width: 90%;
    height: auto;
    margin: 50px auto;
    box-shadow: 2px 15px 30px #d1cfcfd3;
}

.MoreCard .Card .img {
    width: 100%;
    height: 200px;
}

.MoreCard .Card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.MoreCard .Card h3 {
    padding: 10px 30px 10px 30px;
    font-size: 25px;
}

.MoreCard .Card p {
    padding: 10px 0 40px 30px;
    font-size: 18px;
    font-weight: 600;
}

.Newsletter {
    padding: 60px 10px;
    background-color: #3224ae;
    position: relative;
    margin: 10px 0 0 0;
}

.Newsletter .about {
    width: 90%;
    padding: 20px 0 20px 0;
    margin: auto;
}

.Newsletter .about h1 {
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.Newsletter .about p {
    padding: 20px 0 10px 0;
}

.Newsletter .about p#n1 {
    font-size: 18px;
    color: rgb(250, 244, 232);
}

.Newsletter .about p#n2 {
    font-size: 15px;
    line-height: 25px;
    word-spacing: 5px;
    color: #bdbdbd;
}

.Newsletter .Subscribe {
    width: 90%;
    margin: auto;
}

.Newsletter .Subscribe input {
    height: 50px;
    outline: none;
    font-size: 18px;
    width: 100%;
    color: rgb(51, 50, 50);
    display: block;
}

.Newsletter .Subscribe button {
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    background-color: #fec304;
    margin: 10px 0 0 0;
    color: white;
    border-radius: 5px;
}

.Newsletter .circle {
    height: 100px;
    width: 100px;
    background: linear-gradient(45deg, #c86dda 0%, #3224ae 100%);
    position: absolute;
    border-radius: 50px;
}

.Newsletter .circle.n1 {
    top: -30px;
    right: 20%;
}

.Newsletter .circle.n2 {
    bottom: 0;
    left: 0;
    border-radius: 0 100px 0 0;
    height: 50px;
    width: 50px;
}

.Newsletter .circle.n3 {
    bottom: 0;
    border-radius: 100px 100px 0 0;
    right: 30px;
    height: 50px;
    width: 100px;
}

footer {
    background-color: #fdf2ff;
    height: auto;
    width: 100%;
}

.footer {
    background-color: #fdf2ff;
    color: #8d8d8d;

}

.footer hr {
    width: 80%;
    height: 2px;
    color: #8d8d8d;
    margin: 20px auto;

}

.resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.resource {
    width: 40%;
    text-align: left;
    margin: auto;
    padding: 20px 5px 20px 5px;

}

.resource h3 {

    padding: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 800;
    color: #515151;
}

.resource p {
    padding: 5px 0 5px 0;
    font-size: 15px;


}

.resource p a {
    text-decoration: none;
    color: #989898;
}

.resource p a:hover {
    font-size: 14px;
    color: #9000ad;
}

.socials {
    text-align: center;
    margin: 30px 0 0 0;
    padding: 10px 0 40px 0;
}

.CategorySection {
    background: #f7f7f7;
}

.CategorySection h2 {
    text-transform: capitalize;
    padding: 20px 0 0 20px;
}

.CategorySectionItems {
    display: flex;
    align-items: center;
    padding: 20px 0 50px 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CategorySection .ComponentContainer {
    width: 200px;
    margin: 10px 0;
}

.CategorySection .ComponentContainer h2 {
    font-size: 0.8em;
}

.CategorySection .ComponentContainer p {
    font-size: 0.6em;
}

.Cart {
    background: #f0f0f08e;
}

.Cart .Head {
    background: white;
    text-align: center;
    padding: 10px 0;
}

.Cart .Body {
    width: 80%;
    padding: 20px 0;
    margin: auto;
}

.Cart .Body .description {
    text-align: center;
}

.Cart .Body .description img {
    width: 40%;
}

.Cart .Body .description h2 {
    padding: 20px 0;
}

.Cart .Body .description p {
    font-size: 0.9em;
}

.Cart .Body .ItemHead {
    padding: 15px 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Cart .Body .ItemHead .sub {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.Cart .Body .Card {
    background: white;
    font-weight: 600;
    margin: 10px 0;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 2px 4px 6px #51515117;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.Cart .Body .Card .sub2 {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.Cart .Body .Card .sub2 .price {
    color: #3224ae;
}

.Cart .Body .summary {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.Cart .Body .summary button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #9000ad;
    color: white;
}

@media (min-width:510px) {
.Cart .Body {
    width: 70%;
}
    .services {
        padding: 0 10%;
    }

    .Category {
        padding: 0 10%;
    }

    .overview {
        padding: 0 10%;
    }

    .Discount {
        padding: 0 10%;
    }

    .More {
        padding: 0 10%;
    }

    .resources {
        padding: 0 10%;
    }
    .CategoryAbout{
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 40px 0;
    }
}

@media (min-width:600px) {
    .Cart .Body {
        width: 65%;
    }
    .services {
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .ServicesItemsParentContainer {
        width: 40%;
        padding: 0;
    }

    .ServicesItems .img {
        width: 30%;
    }

    .ServicesItems .img img {
        width: 80%;
        padding: 5px;
    }

    .ServicesItems .description {
        width: 50%;
    }

    .Category .CategoryItem {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;
    }

    .ItemParentClass {
        width: 40%;
    }

    .Category .CategoryItem .item img {
        width: 100%;
    }

    .Category .CategoryItem .item p {
        color: #989898;
        font-size: 15px;
        padding: 4px;

    }

    .overview .item {
        width: 70%;
    }
}

@media (min-width:690px) {
    .MoreCard {
        padding: 0;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .MoreCard .Card {
        width: 40%;
    }
}

@media (min-width:750px) {
.Cart .Body {
    width: 55%;
}
    .search form {
        display: none;
    }

    .sticky .search {
        display: none;
    }

    .Newsletter .Subscribe {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .header {
        padding: 20px 5%;
        margin: 0;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        border-bottom: 1pt solid rgba(255, 255, 255, 0.208);
    }

    .header .brandName h2 {
        padding: 0 15px 0 0;
    }

    .header .search {
        text-align: left;
        flex-grow: 2;
    }

    .header .search form {
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    #sidebarMenu {
        position: initial;
        width: 100%;
        transform: translateX(0);
        background: transparent;
        height: auto;
    }

    .sidebarMenuInner li {

        padding: 5px;
        border-bottom: none;
    }

    .sidebarMenuInner {
        display: flex;
        border: none;
        list-style-type: none;
    }

    .sidebarMenuInner li span {
        display: none;
    }

    .sidebarMenuInner li a {
        text-transform: capitalize;
        font-size: 15px;
        font-weight: 400;
        padding: 5px;
    }

    .openSidebarMenu {
        display: none;
    }

    .sidebarIconToggle {
        display: none;
    }

    .sticky {
        position: fixed;
        top: 0;
        box-shadow: 0px 10px 15px #00000037;
        background: linear-gradient(45deg, #c86dda 0%, #3224ae 100%);
        width: 100%;
        transition: all 0.5s ease;
        animation: smoothScroll 1s forwards;
    }

    .sticky .search form {
        display: block;
    }

    .sticky .search form input {
        margin: 0;
    }

    @keyframes smoothScroll {
        0% {
            transform: translateY(-142px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .carousel {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        padding: 0 5%;
    }

    .carousel .about {
        margin-top: 60px;
        width: 30%;
    }

    .carousel .product {
        width: 50%;
    }

    .carousel .product .product {
        margin: 0;
    }

    .carousel .product .previous {
        position: absolute;
        left: 5%;
        top: 50%;
    }

    .carousel .product .next {
        position: absolute;
        right: 5%;
        top: 50%;
    }

    .services {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 5%;
    }

    .ServicesItems {
        width: 100%;
    }

    .ServicesItems .img img {
        width: 60px;
    }

    .ServicesItems .description h2 {
        font-size: 17px;
    }

    .ServicesItems .description p {
        font-size: 12px;
    }

    .Category {
        padding: 40px 10% 50px 10%;
    }

    .Category .CategoryItem {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .Category .CategoryItem .item img {
        width: 60%;
    }

    .Category .CategoryItem .item p {
        font-size: 12px;
    }

    .Category .CategoryItem .item h4 {
        font-size: 15px;
    }

    .overview {
        padding: 0 10% 80px 10%;
        width: 100%;
        margin: auto;
    }

    .overview .item-con {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .overview .item {
        margin: 0;
    }

    .overview .item-con h2 {
        font-size: 20px;
        font-weight: 800;
    }

    .overview .item-con p {
        font-size: 15px;
    }

    .overview .item-con .first.item p {
        font-size: 15px;
    }

    .overview .item-con .three p {
        font-size: 15px;
    }

    .overview .item-con .first.item button {
        padding: 8px 25px;
        font-size: 15px;
    }

    .overview .item-con .three.object .first h2 {
        font-size: 20px;
        font-weight: 800;
    }

    .overview .item-con .three.object .second1 h2 {
        font-size: 20px;
        font-weight: 800;
    }

    .overview .item-con .three.object .second1 button {
        padding: 8px 25px;
        font-size: 15px;
    }

    .overview .item-con .first.item {
        width: 30%;
        height: 500px;
    }

    .overview .item-con .three.object {
        width: 65%;
    }

    .overview .item-con .three.object .first .first {
        display: block;
    }

    .overview .item-con .three.object .first {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .overview .item-con .three.object .first .first.item {
        width: 45%;
        height: 200px;
    }

    .overview .item-con .three.object .first .second.item {
        width: 45%;
        height: 200px;
    }

    .overview .item-con .three.object .first .second.item p {
        font-size: 15px;
    }

    .overview .item-con .three .second1.item {
        width: 100%;
        margin-top: 50px;
        height: 250px;
    }

    .overview .item-con .three .second1.item img {
        width: 80%;
    }

    .productTypes {
        padding: 40px 10%;
    }

    .productTypes .ProductHeaderContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ProductContainer {
        gap: 40px;
        padding: 40px 20px;
    }

    .ProductComponentContainer {
        box-shadow: 0px 10px 30px #cbcbcb91;
    }

    .ProductComponentContainer .containerImg {
        width: 200px;
    }

    .ProductComponentContainer h2 {
        font-size: 20px;
    }

    .ProductContainer .ProductComponentContainer p {
        font-size: 15px;
    }

    .ProductComponentContainer .cart {
        width: 25px;
    }

    .Discount {
        padding: 50px 10%;
    }

    .Discount .DiscountHeader {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .Discount .DiscountHeader .DiscountHeaderTitle h2 {
        font-weight: 900;
        font-size: 45px;
    }

    .Discount .DiscountHeader .DiscountHeaderTimer h2 {
        font-size: 30px;
        font-weight: 800;
    }

    .Discount .DiscountBody {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .DiscountBody .ProductCategory {
        width: 40%;
    }

    .DiscountBody .ProductCategory .Container h2 {

        padding: 10px 0;
    }

    .DiscountBody .ProductCategory .Container p {
        padding: 10px 0;
    }

    .DiscountBody .ProductCategory .Container {
        text-align: left;
        width: 100%;
    }

    .DiscountBody .ProductImg {
        width: 100%;
    }

    .DiscountBody .ProductImg img {
        padding-top: 0;
        width: 60%;
    }

    .DiscountBody .ProductDescription {
        width: 60%;
        padding: 20px;
        text-align: left;
    }

    .DiscountBody .ProductDescription h3 {
        text-align: left;
        font-weight: 800;
    }

    .More {
        padding: 50px 10%;
    }

    .More h4 {
        font-weight: 600;
        padding-left: 0;
    }

    .More h1 {
        padding-left: 0;
        font-size: 45px;
        font-weight: 800;
    }

    .MoreCard {
        flex-wrap: nowrap;
        gap: 50px;
        flex-direction: row;
    }

    .MoreCard .Card h3 {
        font-size: 20px;
    }

    .MoreCard .Card p {
        font-size: 15px;
    }

    .Newsletter {
        padding: 50px 10%;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .Newsletter .about h1 {
        font-size: 50px;
    }

    .Newsletter .about p#n1 {
        font-size: 15px;
    }

    .Newsletter .about p#n2 {
        font-size: 13px;
    }

    .Newsletter .about {
        width: 40%;
    }

    .Newsletter .Subscribe {
        width: 40%;
        display: flex;
        flex-direction: column;
    }

    .Newsletter .Subscribe input {
        height: 40px;
        width: 70%;
        font-size: 12px;
        padding: 5px 15px;
    }

    .Newsletter .Subscribe button {

        padding: 10px 15px;
        width: 90px;
        font-size: 15px;
    }

    .Newsletter .circle.n3 {
        right: 200px;
    }

    .resources {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding: 20px 10%;
        width: 100%;
    }

    .resource {
        width: 20%;
    }

    .resource h3 {
        font-size: 15px;
    }

    .resource p {
        font-size: 12px;
    }

    .socials {
        font-size: 15px;
    }
}

@media (min-width:1020px) {

.Cart .Body {
    width: 40%;
}
    .search form {
        display: block;
    }

    .search form input {
        margin: 0;
    }

    .sticky .search {
        display: block;
    }

    .ServicesItems .img img {
        width: 80px;
        margin-top: -15px;
    }

    .Newsletter .Subscribe {
        flex-direction: row;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .Newsletter .Subscribe button {
        width: 25%;
        font-size: 13px;
    }
}